.nav {
    position: fixed;
    top: 0;
    padding: 20px;
    width: 100%;
    min-height: 10vh;
    z-index: 1;
    transition-timing-function: ease-in-out;
    transition: all 0.5s;
}

.nav__contents {
    display: flex;
    justify-content: space-between;
}

.nav__black {
    background: #111;
}

.nav__logo {
    position: fixed;
    top: 18px;
    left: 0;
    max-width: 80px;
    cursor: pointer;
    object-fit: contain;
    padding-left: 20px;

}

.nav__avatar {
    position: fixed;
    right: 20px;
    max-width: 30px;
    cursor: pointer;

}